replicaCount: 1

image:
  repository: ronenlmy/frontend-service
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 3000

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  - name: PRODUCT_SERVICE_URL
    value: "http://product-service:3001"
  - name: ORDER_SERVICE_URL
    value: "http://order-service:3002" 
