replicaCount: 1

image:
  repository: ronenlmy/order-service
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3002

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

# env:
#   - name: SOME_ENV_VAR
#     value: "some_value"
