apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deployment
  labels:
    app: products
spec:
  replicas: 1
  selector:
    matchLabels:
      app: products
  template:
    metadata:
      labels:
        app: products
    spec:
      containers:
      - name: products
        image: ronenlmy/product-service:1.0
        ports:
        - containerPort: 3001

---

apiVersion: v1
kind: Service
metadata:
  name: products-service
spec:
  selector:
    app: products
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001